@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
    --black: #171718;
    --black-border: #171718;
    --white: white;
    --purple: #5c62ec;
    --text-color: black;

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);

    /* Light mode*/

    --page-bg: var(--white);
    --text-color: var(--black);

    --title-1: var(--accent);

    --card-color-text: var(--black);

    --project-color: var(--white);

    --btn-color:var(--black);

    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

/* Dark mode*/

.dark {
    --page-bg: #252526;
    --text-color: var(--white);

    --title-1: var(--white);

    --project-color: var(--black);

    --btn-color:var(--white);

    --card-color-text: var(--white);

    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

/* General */

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;

    /* Light mode */
    background-color: var(--page-bg);
    color: var(--text-color);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
}

/* Nav */

.nav {
    background-color: var(--dark-bg);
    color: var(--header-text);
    padding: 20px 0;
    border-bottom: 1px solid #26292d;
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: var(--header-text);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--header-text);

}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* Dark mode button*/

.dark-mode-btn {
    order: 9;
    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 5px;
    width: 51px;
    height: 26px;

    border-radius: 50px;
    background-color: #272727;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}

.dark-mode-btn::before {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--white);
    transition: left 0.25s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;
}

/* Header */

.header {
    padding: 40px 0;
    min-height: 695px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-bg);
    background-image: url("./../image/header-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;

}

.header_wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title b {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.header__text p+p {
    margin-top: 0.5em;
}

/* Buttons */

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: var(--black);

    letter-spacing: 0.15px;
    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

/* Main & Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.project {
    max-width: 370px;
    background-color: var(--project-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project:hover {
    position: relative;
    bottom: 3px;
}

.project__title {
    padding: 15px 20px 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--card-color-text);
}

/* Project details*/

.project-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project-details__desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
    text-align: center;
}

/* Content-list */

.content-list {
    margin: 0 auto;
    min-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
}

.content-list a {
    color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p+p {
    margin-top: 0.5em;
}

/* Footer */

.footer {
    background-color: var(--dark-bg);
    padding: 60px 0 50px;
    color: var(--header-text);
    margin-top: auto;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 21px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p+p {
    margin-top: 0.5em;
}

/* Adaptation*/

@media(max-width: 620px) {

    /* Nav */

    .nav-row {
        justify-content: space-between;
    }

    /* Header */

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 30px;
    }

    .header {
        min-height: unset;
    }

    /* Button */

    .dark-mode-btn {
        order: 0;
    }

    /* Index */

    .section {
        padding: 40px 0;
    }

    .container {
        align-items: center;
    }

    /* Titles */

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .project__title {
        font-size: 22px;
    }

    /* Projects */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        row-gap: 20px;
    }

    .project-details__desc {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .project-details__cover {
        margin-bottom: 30px;
    }

    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .social-item {
        width: 28px;
        column-gap: 20px;
        row-gap: 20px;
    }
}